<div class="phone_box">
  
    <mat-card class="example-card">
         <div class="my-moving-text">
           <div>OnePlus 10 3</div>
         </div>
         <img class="same-size-img" src="assets/10T-3.png" alt="Example Image">
         <button class="my-button">Get The Analysis</button>
     </mat-card>
    
     <mat-card class="example-card">
         <div class="my-moving-text">
           <div>OnePlus 9R</div>
         </div>
         <img class="same-size-img" src="assets/9op.png" alt="Example Image">
         <button class="my-button">Get The Analysis</button>
     </mat-card>
    
     <mat-card class="example-card">
         <div class="my-moving-text">
           <div>OnePlus 10 Pro</div>
         </div>
         <img class="same-size-img" src="assets/10pro-3.png" alt="Example Image">
         <button class="my-button">Get The Analysis</button>
     </mat-card>
   
     <mat-card class="example-card">
         <div class="my-moving-text">
           <div>OnePlus 9 Pro</div>
         </div>
         <img class="same-size-img" src="assets/9 pro.png" alt="Example Image">
         <button class="my-button">Get The Analysis</button>
     </mat-card>
 
    

   </div>