<div class="hero">
    <nav>
        <h2 class="logo"> Sentiment <span>Analysis</span> </h2>
        <ul>
            <li><a routerLink="home">Home</a> </li>
            <li><a routerLink="about">About</a></li>
            <li><a href="">Our Team</a> </li>
            <li><a href="">Product</a> </li>
            <li><a href="">Contact Us</a>  </li>
            
        </ul>
        <button type="button" class="btn">Subscribe</button>
        <router-outlet></router-outlet>
    </nav>
</div>    
<router-outlet></router-outlet>