
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Josefin+Sans&display=swap');


.hero {
    // height: 100vh;
    // width: 100%;
    background-color: rgba(18, 18, 187, 0.836);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/images/twitter-icon-line-connection-circuit-board.jpg');
    background-size: cover;
    background-position: center;
}

nav {
    
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 0.5em;
        border-bottom: 1px solid #000000;
    
}

.logo {
    color: white;
    font-size: 28px;
}

span {
    color: #ea1538;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 60px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ea1538;
    transition: 0.3s;
}

.btn {
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.4s;
}

.btn:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.container {
    min-height: 90vh;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar {
    width: 100%;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.searchbar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;

}

::placeholder {
    color: #cac7ff;
}

.searchbar button img {
    width: 25px;

}

.searchbar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}

.searchbar button:hover {
    transform: scale(1.2);
    cursor: pointer;
}
