  <div class="mega-box">
    <div class="content">
       
      <div class="row">
        <header class="he">Phones</header>
        <ul class="mega-links">
          <li><a routerLink="iphone">Apple</a></li>
          <li><a routerLink="op">OnePlus</a></li>
          <li><a href="#">Xiaomi</a></li>
          <li><a href="#">Vivo</a></li>
        </ul>
      </div>
      
      <div class="row">
        <header class="he">Laptop</header>
        <ul class="mega-links">
          <li><a routerLink="macbook">Apple</a></li>
          <li><a href="#">Acer</a></li>
          <li><a href="#">Dell</a></li>
          <li><a href="#">Lenovo</a></li>
        </ul>
      </div>
      
      <div class="row">
        <header class="he">Headphones</header>
        <ul class="mega-links">
          <li><a routerLink="skullcandy">SkullCandy</a></li>
          <li><a href="#">Boat</a></li>
          <li><a href="#">Mivi</a></li>
          <li><a href="#">JBL</a></li>
        </ul>
      </div>

    </div>
  </div>