.phone_box{
  width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
    
}

.example-card {
   border: 1px solid #ddd;
   padding: 20px;
   box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
   background-color:#f9f9f9;
   width: 100%;
	 margin-bottom: 15px;
   box-sizing: border-box;
   align-items: center;   
  }

  .example-card:hover{
    transform: translateY(-10px);
	cursor: pointer;
  }
  
  .example-header-image {
    background-image:"assets/search.png";
    background-size: cover;
  }
  
  .same-size-img {
    width: 100%;
    height: 400px;
    }

   .my-button:hover::before {
      transform: translateY(0);
   }

  .my-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 40px;
    font-size: 16px;
    border-radius: 5px;
    transition: color 0.3s ease-out;
    width: 80%;
 }
 
 .my-button:hover {
    color: red;
 }

 .my-moving-text {
   background-color: #0a0f11;
   color: white;
   padding: 10px;
   font-size: 24px;
   position: relative;
   overflow: hidden;
   width: 100%;
   border: solid red 2px;
}

