<div class="phone_box">
  
  <mat-card class="example-card">
       <div class="my-moving-text">
         <div>Skullcandy Crusher Evo</div>
       </div>
       <img class="same-size-img" src="assets/sk1.jpg" alt="Example Image">
       <button class="my-button">Get The Analysis</button>
   </mat-card>
  
   <mat-card class="example-card">
       <div class="my-moving-text">
         <div>Skullcandy Hesh ANC</div>
       </div>
       <img class="same-size-img" src="assets/sk1.jpg" alt="Example Image">
       <button class="my-button">Get The Analysis</button>
   </mat-card>
  
   <mat-card class="example-card">
       <div class="my-moving-text">
         <div>Skullcandy Riff Wireless</div>
       </div>
       <img class="same-size-img" src="assets/sk3.jpg" alt="Example Image">
       <button class="my-button">Get The Analysis</button>
   </mat-card>
 


  

 </div>