<div class="hero" >
    <nav>
        <h2 class="logo"> Sentiment <span>Analysis</span> </h2>
        
        <ul class="nav-links">
            <li><a routerLink="home" >Home</a> </li>
            
            <li><a routerLink="about">About</a></li>
            <!-- <li><a routerLink="products">Products</a></li> -->







            
            <li  (click)="toggleContent()">
              <!-- <div class="item" > -->
                <a>Products</a>
                <!-- <input type="checkbox" id="showMega">
                <label for="showMega" class="mobile-item">Products</label> -->
                
                <div class="content" >
                <div class="mega-box" *ngIf="isContentVisible">
                  <div class="content">
                     
                    <div class="row">
                      <header class="he">Phones</header>
                      <ul class="mega-links">
                        <li><a routerLink="iphone">Apple</a></li>
                        <li><a routerLink="oneplus">OnePlus</a></li>
                        <li><a href="#">Xiaomi</a></li>
                        <li><a href="#">Vivo</a></li>
                      </ul>
                    </div>
                    
                    <div class="row">
                      <header class="he">Laptop</header>
                      <ul class="mega-links">
                        <li><a routerLink="macbook">Apple</a></li>
                        <li><a href="#">Acer</a></li>
                        <li><a href="#">Dell</a></li>
                        <li><a href="#">Lenovo</a></li>
                      </ul>
                    </div>
                    
                    <div class="row">
                      <header class="he">Headphones</header>
                      <ul class="mega-links">
                        <li><a routerLink="skullcandy">SkullCandy</a></li>
                        <li><a href="#">Boat</a></li>
                        <li><a href="#">Mivi</a></li>
                        <li><a href="#">JBL</a></li>
                      </ul>
                    </div>

                  </div>
                <!-- </div> -->
                </div>


              </div></li>

           
           
           
           
           
           
              <li><a routerLink="Iphone">Home1</a> </li>
            
        </ul>
        
    </nav>
    
    
</div>    

<!-- <div class="hero">

<ul>
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/about">About</a></li>
  <li><a routerLink="/contact">Contact</a></li>
</ul>
</div> -->