<div class="phone_box">
  
  <mat-card class="example-card">
       <div class="my-moving-text">
         <div>Iphone 11</div>
       </div>
       <img class="same-size-img" src="assets/i11.jpg" alt="Example Image">
       <button class="my-button">Get The Analysis</button>
   </mat-card>
  
   <mat-card class="example-card">
       <div class="my-moving-text">
         <div>Iphone 13</div>
       </div>
       <img class="same-size-img" src="assets/i13.jpg" alt="Example Image">
       <button class="my-button">Get The Analysis</button>
   </mat-card>
  
   <mat-card class="example-card">
       <div class="my-moving-text">
         <div>Iphone 14 Pro</div>
       </div>
       <img class="same-size-img" src="assets/i14pro.jpg" alt="Example Image">
       <button class="my-button">Get The Analysis</button>
   </mat-card>
 
   <!-- <mat-card class="example-card">
       <div class="my-moving-text">
         <div>OnePlus 9 Pro</div>
       </div>
       <img class="same-size-img" src="assets/9 pro.png" alt="Example Image">
       <button class="my-button">Get The Analysis</button>
   </mat-card> -->

  

 </div>